torch>=2.5.0
torchvision
torchaudio
gradio>=3.50.2
huggingface_hub
open-clip-torch
av
pillow
opencv-python
librosa
hydra-core
hydra-colorlog
einops
colorlog
timm
nitrous-ema
tensordict
torchdiffeq
git+https://github.com/hkchengrex/MMAudio.git
